# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
.swc/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE / Editor specific files
.idea/
.vscode/
*.code-workspace
.project
.classpath
.c9/
*.launch
*.sublime-workspace

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Log files
logs
*.log

# Cache
.npm
.eslintcache
.stylelintcache 

# Cursor editor files
.cursor/

# Data files
164.csv
2025.csv
2025FINAL.csv
2025f.csv
100BAPP.csv
kuruchi2025.csv